@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url(Desktop.png);
  background-size: cover;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.form-details {
  display: none;
}

@media only screen and (max-width: 600px) {
  .form-content {
    margin: auto;
    max-width: 550px;
    padding: 15px;
  }
  .form-content form {
    background: url(mobile.jpg);
    background-size: cover;
  }
  .form-content form h3 {
    color: #fff;
    background-color: #0b640f;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .form-content form hr {
    margin-top: 20px;
  }
  .form-content form p {
    font-size: 13px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .form-content form img {
    width: 100px;
    background-color: #c9ffd9;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .form-content form .form-body .row {
    display: flex;
    flex-direction: column;
  }
  .form-content form .form-body .row .input-group {
    padding: 10px;
  }
  .form-content form .form-body .row .input-group input[type=text], .form-content form .form-body .row .input-group select {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(11, 124, 11);
    min-width: 100%;
  }
  .form-content form input[type=submit] {
    background-color: #0b640f;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  .form-content {
    margin: auto;
    max-width: 600px;
    padding: 15px;
    font-size: 13px;
  }
  .form-content form {
    background-size: cover;
    border: 2px solid #0b640f;
    padding: 15px;
    border-radius: 5px;
  }
  .form-content form h3 {
    color: #fff;
    background-color: #0b640f;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .form-content form hr {
    margin-top: 20px;
  }
  .form-content form p {
    font-size: 13px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .form-content form img {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .form-content form .form-body .row {
    display: flex;
  }
  .form-content form .form-body .row .input-group {
    padding: 10px;
  }
  .form-content form .form-body .row .input-group select {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(11, 124, 11);
    min-width: 100%;
  }
  .form-content form .form-body .row .input-group #name {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(11, 124, 11);
    min-width: 520px;
  }
  .form-content form .form-body .row .input-group #program {
    min-width: 420px;
  }
  .form-content form .form-body .row .input-group #year {
    min-width: 140px;
  }
  .form-content form input[type=submit] {
    background-color: #0b640f;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    margin-top: 100px;
  }
  .form-details {
    margin: 0 auto;
    background-image: url(knust-two.jpg);
    background-size: cover;
    display: block;
    max-width: 700px;
    padding: 50px;
    color: #fff;
    border-radius: 8px;
  }
  .form-details h2 {
    margin-top: 150px;
    text-align: center;
  }
  .form-details p {
    margin: 0 auto;
    font-size: 20px;
  }
  .form-content {
    margin: auto;
    max-width: 600px;
    padding: 15px;
    font-size: 13px;
  }
  .form-content form {
    background-size: cover;
    border: 2px solid #0b640f;
    padding: 15px;
    border-radius: 5px;
  }
  .form-content form hr, .form-content form p {
    display: none;
  }
  .form-content form h3 {
    color: #fff;
    background-color: #0b640f;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .form-content form img {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .form-content form .form-body .row {
    display: flex;
  }
  .form-content form .form-body .row .input-group {
    padding: 10px;
  }
  .form-content form .form-body .row .input-group select {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(11, 124, 11);
    min-width: 100%;
  }
  .form-content form .form-body .row .input-group #name {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(11, 124, 11);
    min-width: 520px;
  }
  .form-content form .form-body .row .input-group #program {
    min-width: 420px;
  }
  .form-content form .form-body .row .input-group #year {
    min-width: 140px;
  }
  .form-content form input[type=submit] {
    background-color: #0b640f;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */